.box {
    width: 800px;
    float: right;
    border: 1px ;
    position: relative; 
    left: 80px;
    margin-top: -50px;

}
.box ul li {
    width: 100px;
    float: left;
    text-align: center;
    top: 0;
}

.box ul li a{
    text-decoration: none;
    color: white;
    
}
#container{
    background-image: url(image2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    

}
ul{
    list-style-type: none;
}
.box ul li:hover{
    background-color: blue;
}
.box ul li a:hover{
    color: white;
}

.logo{
    font-weight: bolder;
    font-size: 1.5rem;
    color: orange;

}

.text-box{
    width: 80%;
    color: white;
    top: 50%;
    padding: 55px;
}
.services h3{
    font-size: 40px;
}
.services h4{
    font-size: 30px;
}
.services p{
    font-size: 20px;
}
.btn{
    color: Black;
    font-size: 1.7rem;
    position: relative;
    border-radius: 5rem;
    font-size: 1.7rem;
    cursor: pointer;
    padding: 8rem 3rem;
    
}
.Services{
    background-color: rgb(229,229,229);
    height: 400px;
}
.services h3{
    text-align: center;
}
.services p{
    text-align: center;
}
.card {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding-top: 5px;
    justify-content: space-evenly;

} 


.Reviews{
    background-image: url(image1.png);
    background-size:50% 100% ;
    background-repeat: no-repeat;
}
.Reviews{
    background-color: black;
    height: 400px;
    
}

.Reviews h5{
    font-size: 40px;
    text-align: right;
    color: white;
    margin: 30px;
    
}
.Reviews h6{
    font-size: 20px;
    text-align: right;
    color: white;
    margin: 30px;
}
.Reviews p{
    font-size: 20px;
    text-align: right;
    color: white;
    margin: 30px;

}
.menu{
    background-color: rgb(229,229,229);
    background-size: cover;
    text-align: center;

}
.foodA{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding-top: 20px;
    flex-direction: row;
    background-color: rgb(229,229,229);
    background-size: 30px;


}
.foodA .details{
    float: right;
}
.foodB{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;

}
.foodB .details{
    float: right;

}
.foodB{
    background-color: rgb(229,229,229);
    background-size: 80px;
}
.menu h7{
    font-size: 40px;
}
h8{
    font-size: 30px;
}
h9{
    font-size: 20px;
    color: orange;
}

.menu p{
    font-size: 20px;
}
.details p{
    font-size: 20px;
}
.price p{
    font-size: 16px;
}
.food{
    display: flex;
    justify-content: space-evenly;
}
.footer h13{ font-size: 20px;
}
.footer{
    background-image: url(image8.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-align: center;
    
}
.footer h1{
    text-align: center;
    color: white;
    font-size: medium;
    padding: 10px;
    padding-bottom: 10px;
}
.footer p{
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 10px;
}
button{
    text-align: center;
    color: white;
    border-color: white;
}